body {
    line-height: 1.6;
}
main {
    width: 90%;
    text-align: justify;
    margin: 100px auto 0;
}
.banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
h1{
    font-size: 48px;
    margin-bottom: 10px;
}
main p{
    font-family: 'Open-sans', sans-serif;
    margin: 20px auto 20px;
}
main .title {
    color: gray;
    font-size: 0.85em;
}

.baca {
    display: block;
    width: fit-content;
    background-color: var(--oren);
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin: 0 auto 20px;
}

.baca:hover {
    background-color: var(--hitam);
}
.konten {
    display: flex;
    gap: 30px;
    margin: 40px 0;
}

.kontenKebalik {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    gap: 30px;
    margin: 40px 0;
}


.article-image {
    align-self: center;
    height: 300px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}
.article-image:hover{
    transform: translateY(-15px);
}