body{
    background-color: var(--krem);
}

main {
    margin: 100px auto 50px;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
}

main h1 {
    color: var(--hijau-tua);
    margin-bottom: 15px;
}

main p {
    color: #333;
    margin-bottom: 40px;
    line-height: 1.6;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20x;
}

section {
    text-align: left;
}

section label {
    color: var(--hijau-tua);
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

section input,
section textarea {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: 2px solid var(--hijau-muda);
    outline: none;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
}

section input:focus,
section textarea:focus {
    border-color: var(--oren);
    box-shadow: 0 0 8px rgba(240, 187, 120, 0.4);
}

/* Tombol */
button {
    background-color: var(--oren);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 12px 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #f5c991;
}
