/* General */

:root {
    --hijau-tua: #626F47;
    --hijau-muda: #A4B465;
    --oren: #F0BB78;
    --krem: #F5ECD5;
    --hitam: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}
a{
    cursor: pointer;
}

body {
    background-color: #fff;
    color: var(--hitam);
}

/* Navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(164, 180, 101, 0.85);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
}

nav h1 {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
nav ul li{
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    font-weight: 600;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e8f078;
    background-color: var(--hijau-muda);
    border-radius: 5px;
}
nav ul li ul {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: var(--hijau-muda);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

nav ul li ul li {
    margin: 0;
    width: 150px;
}

nav ul li ul li a {
    padding: 10px;
    font-weight: normal;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a:hover {
    color: var(--oren);
    background-color: var(--hijau-tua);
}

/* Footer */

footer {
    background-color: var(--hijau-tua);
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

.sosial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.item a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease, color 0.2s ease;
}

.item a:hover {
    transform: scale(1.05);

}

.item img {
    width: 24px;
}

footer p {
    font-size: 14px;
    color: white;
    margin: 0;
}